.env
.env.*
!.env.example
!sample.env

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

venv/
.venv/
ENV/
env/

xyrondownloader/cookies/*.txt
!xyrondownloader/cookies/.gitkeep

*.session
*.session-journal

.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
