API_ID=12345678
API_HASH=your_api_hash_here
BOT_TOKEN=1234567890:ABCdefGhIJKlmNoPQRsTUVwxyZ

OWNER_ID=123456789
MONGO_DB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority

ENABLE_LOGGER=True
LOG_GROUP_ID=-1001234567890
DAILY_DOWNLOAD_LIMIT=15
MAX_DURATION=60
MAX_FILE_SIZE=2000

FORCE_SUB_CHANNEL_ID=-1001234567890
FORCE_SUB_CHANNEL_LINK=https://t.me/YourChannelLink
FORCE_SUB_GROUP_ID=-1001234567890
FORCE_SUB_GROUP_LINK=https://t.me/YourGroupLink

USE_PROXY=False
PROXIES=

USE_COOKIES=False
COOKIES_FILE_PATH=xyrondownloader/cookies/cookies.txt
INSTA_COOKIES_FILE=xyrondownloader/cookies/insta.txt
DOWNLOAD_DIR=downloads
